html { 
  font-family: "Helvetica Neue", sans-serif;

}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../images/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.prof-box{
	width:  40%;
	height: 80%;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	border-radius: 8px;

}
@media (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  .prof-box{
	width:  70%;
	height: 80%;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	border-radius: 8px;

}
}




.prof-pic{
	border-radius: 40%;
	max-width: 40%;
   max-height: 40%;

}

h1{
	font-weight: 100;
    letter-spacing: 3px;
    font-size: 40px;
    padding: 0px;
    margin: 0px
}

h5{
	padding: 2px;
    font-weight: 400;
    margin: 10px;
}

p{
	font-weight: 200;
    letter-spacing: 1px;
}

.social-icons a{
	font-size: 25px;
}

.social-icons a{
	color: white;
}

.line-break{
	width: 50%;
	margin: 0 auto; 
	border-top: 1px solid white;

}
.round {
    border: 0px solid #FFFFFF;
    padding: 4px; 
    background: #dddddd;
    color:#000000;
		margin-top:4px;
		display: inline-block;
    text-decoration: none !important;
    border-radius: 4px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";       /* IE 8 */
		filter: alpha(opacity=80);  /* IE 5-7 */
		-moz-opacity: 0.8;          /* Netscape */
		-khtml-opacity: 0.8;        /* Safari 1.x */
		opacity: 0.8; 
}
a{
 text-decoration: none !important;
 color:#000000;
}

