html {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #263238;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
/*  background: url(../images/bg.jpg) no-repeat center center;
*/  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*  background: linear-gradient(#ff7241, #ff4a1f);*/
/*background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#303030)) fixed;
*/
}

.prof-box{
	width:  50%;
	height: 80%;
	/*background: rgba(0,0,0,0.4);*/
	padding: 40px;
	color: #eee;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	/*border-radius: 8px;*/

}
@media (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  .prof-box{
	width:  80%;
	height: 80%;
	/*background: rgba(0,0,0,0.4);*/
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
	/*border-radius: 8px;*/

}
}

.prof-pic{
	border-radius: 50%;
	max-width: 25%;
   max-height: 25%;
   width:25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);


}

@media (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
.prof-pic{
	border-radius: 50%;
	max-width: 30%;
   max-height: 30%;
   width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);


}
}

h1{
	color:#a0a0a0;
	font-weight: 300;
    letter-spacing: 3px;
    font-size: 40px;
    padding: 0px;
    margin: 0px
}

h5{
	columns: #a0a0a0;;
	padding: 2px;
    font-weight: 400;
    margin: 10px;
}

h3{
	color:#a0a0a0;
	font-weight: 300;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 0px;
    margin: 0px
}

p{
	font-weight: 200;
    letter-spacing: 1px;
}

.social-icons a{
	font-size: 25px;
}

.social-icons a{
	color: white;
}

.line-break{
	width: 50%;
	margin: 0 auto;
	border-top: 1px solid #808080;

}
.round {
    border: 0px solid #FFFFFF;
    padding: 4px;
    background: #dddddd;
    color:#000000;
		margin-top:4px;
		display: inline-block;
    text-decoration: none !important;
    border-radius: 4px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";       /* IE 8 */
		filter: alpha(opacity=80);  /* IE 5-7 */
		-moz-opacity: 0.8;          /* Netscape */
		-khtml-opacity: 0.8;        /* Safari 1.x */
		opacity: 0.8;
}
a{
 text-decoration: none !important;
 color:#fff;
 position:relative;
 z-index:9999;
}

.demo-card-square.mdl-card {
	margin: 10px;
  width: 400px;
  height: 120px;
  background-color: #fff;
  text-align: left;
  border-radius: 4px;
  border:1px solid rgba(0, 0, 0, 0.1);

}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background-repeat: no-repeat;
    background-position: center;
 background-color: #46B6AC

}


.mdl-grid.center-items {
   justify-content: center;
}
.nanna-footer{
justify-content: center;
border-radius: 4px;
background-color: transparent;
}

h6{	text-align: justify;
	color:#A0A0A0;
	padding:20px;
	border-radius:4px;
	border:1px solid rgba(255, 255, 255, 0.1);
}
.mdl-button>.mdl-js-button{
 color:#FF0F00;
}
.blog-list{
  margin-top: 10px;
  background-color: #EEEEEE;
  cursor: pointer;
  border-radius: 2px;
}
.azure{
  color: #007fff;
}

ul {
  width: 100%;
  list-style-type: none;
  text-align: left;
}
li {
  padding: 10px;
  overflow: auto;
}
li:hover {
  background: #000000;
  cursor: pointer;
  cursor: hand;
  border-radius: 4px;
  
}
.list-header{
  margin: 0px;
}
body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; }
#particles-js{ position:absolute; width: 100%; height: 100%;  background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
